 <!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yuyu Lai</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/name.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>


   <link href="/js/bootstrap.min.js" rel="stylesheet">


  </head>
 
<body>
  <br>




<br>
<br>
<br>
<br>





<form action="/fizz" method="post">

<form class="form-horizontol">
  <h2 style="text-align:center;"> Fizzbuzz</h2> 
  <div class="control-group">
    
    <label class="control-label" for="inputNumber">First Number: </label> 
    
      <input type="text" id="num1" name="num1" placeholder="e.g. 1, 2, 3. etc"> 
    </div>



    <div class="control-group">
       <label class="control-label" for="inputNumber"> Second Number: </label> 
        <input type="text" id="num2" name="num2" placeholder="e.g. 31, 52, 73. etc"> 
      </div>
    </div> 

<!--  
<div class="control-group">
  <button type="submit" class="btn btn-info" data-container="body" data-toggle="popover" id="submit-btn" data-placement="left" data-content="<%= @print_value %>">

<script type="text/javascript">
  $(document).ready(function() {
    $('#submit-btn').popover()
  })

</script>

-->
 <button type="submit" class="btn btn-info"  id="submit-btn" > Results </button> 


</body> 